* {
  outline: 0px solid red;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration:none;
  color: black;
  font-weight: 600;
}
a:hover {
  text-decoration: underline;
}

p {
  font-size: 0.8em;
}

h1 {
  font-size: 2.3em;
}
